<template>
  <div class="application-banner">
    <div class="application-banner__content">
      <div class="application-banner__img">
        <img src="../assets/multGirls.png" alt="" srcset="" />
      </div>
      <div class="application-banner__title">Enjoy mobile shopping with our Createx Store App!</div>
      <div class="application-banner__buttons">
        <div class="application-banner__apple">
          <img src="../assets/app-store.png" alt="" srcset="" />
        </div>
        <div class="application-banner__playmarket">
          <img src="../assets/google-play.png" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.application-banner {
  background-color: black;
  height: 300px;

  &__content {
    display: grid;
    grid-template-columns: 7fr 7fr 2fr 1fr;
    grid-template-rows: 150px;
    column-gap: 168px;
    max-width: 1230px;
    margin: 0 auto;
    align-items: center;

    & > div:nth-child(1) {
      grid-column: 1 / 3;
      grid-row: 1 / 3;
      img {
        margin-top: -30px;
      }
    }

    & > div:nth-child(2) {
      grid-column: 3 / -1;
      color: white;
      font-size: 32px;
    }
  }
  &__buttons {
    display: grid;
    grid-template-columns: auto auto;
    gap: 20px;
  }
}
</style>
