<template>
  <div class="bottom-menu">
    <div class="bottom-menu__content">
      <div class="bottom-menu__items">
        <div class="bottom-menu__logo"><img src="../assets/logo.png" alt="" srcset="" /></div>
        <div class="bottom-menu__title">
          <span>Women</span>
          <span>Men</span>
          <span>Girls</span>
          <span>Boys</span>
          <span>Sale</span>
        </div>
      </div>
      <div class="bottom-menu__tool-bars">
        <input class="bottom-menu__search" placeholder="Search for products..." />
        <div class="bottom-menu__like" style="display: flex">
          <img src="../assets/Heart.png" />
          <div>2</div>
        </div>
        <div class="bottom-menu__cart" style="display: flex">
          <img src="../assets/Cart.png" />
          <div class="cart-counter">4</div>
        </div>
      </div>
    </div>
    <div class="bottom-menu__sale">
        <strong>Up to 70% Off. </strong>
        Shop our latest sale styles
      </div>
  </div>
</template>
<script>
export default {
  setup() {},
};
</script>

<style scoped lang="scss">
.bottom-menu {
  &__content {
    max-width: 1230px;
    width: 100%;
    height: 84px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__items {
    display: flex;
    align-items: center;
  }
  &__logo {
    padding-left: 15px;
    width: 130px;
    height: 22px;
    margin-right: 60px;
  }
  &__title {
    font-size: 16px;
    span {
      padding-right: 40px;
    }
    span:last-of-type {
      padding-right: 0;
    }
  }
  &__tool-bars {
    display: flex;
    max-width: 560px;
    margin-right: 15px;
    width: 100%;
    height: 44px;
    align-items: center;
  }
  &__search {
    border: 1px solid $border-color;
    border-radius: 4px;
    max-width: 374px;
    width: 100%;
    height: 100%;
    margin-right: 50px;
    padding-left: 16px;
  }
  &__cart {
    padding-left: 20px;
    border-left: 1px solid $border-color;
    align-items: center;
    img {
      padding-right: 8px;
    }
  }
  &__like {
    width: 20px;
    height: 20px;
    margin-right: 40px;
    align-items: center;
    img {
      margin-right: 10px;
    }
  }
  .cart-counter {
    width: 20px;
    height: 20px;
    text-align: center;
    color: white;
    background: #03cea4;
    border-radius: 4px;

  }
  &__sale{
    display: flex;
    width: 100%;
    background-color: $button-color;
    height: 34px;
    align-items: center;
    justify-content: center;
    color: white;
  }
}
</style>
