<template>
  <div class="categories-cards">
    <div class="categories-cards__title"><strong>Popular categories</strong></div>
    <div class="categories-cards__items">
      <div
        v-for="categoriesCard in categoriesCards"
        :key="categoriesCard"
        class="categories-cards__item"
      >
        <img :src="categoriesCard.url" alt="" srcset="" />
        <div class="categories-cards__label">{{ categoriesCard.label }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  components: {},
  setup() {
    const categoriesCards = ref([
      {
        label: "Tops",
        url: require("C:\\Users\\User\\Desktop\\vue_figma\\src\\assets\\Tops.png"),
      },
      {
        label: "T-shorts",
        url: require("..\\src\\assets\\T-shorts.png"),
      },
      {
        label: "Caps",
        url: require("..\\src\\assets\\caps.png"),
      },
      {
        label: "Sandals",
        url: require("..\\src\\assets\\sandalis.png"),
      },
      {
        label: "Jackets",
        url: require("..\\src\\assets\\jackets.png"),
      },
      {
        label: "Coats",
        url: require("..\\src\\assets\\coats.png"),
      },
    ]);

    return { categoriesCards };
  },
};
</script>

<style lang="scss" scoped>
.categories-cards {
  margin-top: 180px;
  margin-bottom: 180px;
  display: grid;
  width: 100%;
  justify-items: center;
  &__title {
    font-size: 46px;
  }
  &__items {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 25px;
    justify-content: center;
    margin-right: 15px;
    margin-left: 15px;
  }
  &__item {
    display: grid;
    align-items: center;
    justify-items: center;
    gap: 10px;
    margin-bottom: 50px;
    img {
      width: 100%;
      height: auto;
    }
  }
}
</style>
