<template>
  <div class="cards-clothes">
    <div class="cards-clothes__titles">
      <div class="cards-clothes__title">New arrivals</div>
      <div class="cards-clothes__subtitle">
        <div>Check out our latest arrivals for the upcoming season.</div>
        <div style="padding-top: 5px">See the collection here</div>
      </div>
    </div>
    <div class="cards-clothes__cards">
      <div class="card-clothes" v-for="clothesCard in clothesCards" :key="clothesCard">
        <div class="card-clothes__img">
          <img :src="clothesCard.url" alt="" />
          <div class="card-clothes__like">
            <img class="card-clothes__like-img" src="../assets/Heart-icon.png" alt="" srcset="" />
          </div>
        </div>
        <div class="card-clothes__label">{{ clothesCard.label }}</div>
        <div class="card-clothes__price">
          <strong>{{ clothesCard.cost }}</strong>
        </div>
      </div>
    </div>
    <div class="cards-clothes__paginators">
      <div v-for="index in clothesCards" :key="index" class="cards-clothes__paginator"></div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  components: {},
  setup() {
    const clothesCards = ref([
      {
        label: "Black and white sport cap",
        cost: "$18.15",
        url: require("..\\src\\assets\\cap.png"),
      },
      {
        label: "Metal bridge sunglasses",
        cost: "$89.95",
        url: require("..\\src\\assets\\glasses.png"),
      },
      {
        label: "Green baby romper",
        cost: "$20.40",
        url: require("..\\src\\assets\\romper.png"),
      },
      {
        label: "Mid-rise slim cropped fit jeans",
        cost: "$40.00",
        url: require("..\\src\\assets\\jeans.png"),
      },
      {
        label: "Red dangle earrings",
        cost: "$29.95",
        url: require("..\\src\\assets\\earrings.png"),
      },
      {
        label: "Baby shoes with laces",
        cost: "$30.60",
        url: require("..\\src\\assets\\babyShoes.png"),
      },
    ]);

    return { clothesCards };
  },
};
</script>

<style lang="scss" scoped>
.cards-clothes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__titles {
    flex-direction: column;
    display: flex;
    align-items: center;
    margin-bottom: 60px;
  }
  &__title {
    font-size: 46px;
    margin-bottom: 24px;
    color: #1e212c;
  }
  &__subtitle {
    font-size: 18px;
    color: #787a80;
    flex-direction: column;
    display: flex;
    align-items: center;
  }
  &__cards {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  &__paginators {
    display: flex;
    justify-content: center;
  }
  &__paginator {
    margin-top: 96px;
    border-bottom: 2px solid #424551;
    margin-left: 10px;
    width: 30px;
  }
}

.card-clothes {
  margin-left: 30px;
  &__img {
    position: relative;
    img {
      width: 100%;
    }
  }

  &__label {
    margin-top: 16px;
    margin-left: 16px;
  }
  &__price {
    margin-left: 16px;
    margin-top: 8px;
  }
  &__like {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    &-img {
      width: auto !important;
    }
  }
}
.card-clothes:last-of-type {
  margin-right: 30px;
}
</style>
