<template>
  <div class="company-logos">
    <div class="company-logos__content">
      <div v-for="companyIcon in companyIcons" :key="companyIcon" class="company-logo">
        <img :src="companyIcon.url" alt="" srcset="" />
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  components: {},
  setup() {
    const companyIcons = ref([
      {
        url: require("..\\src\\assets\\InDepthConsultingLogo - Untitled Page.png"),
      },
      {
        url: require("..\\src\\assets\\HigherFitLogo-Untitled Page.png"),
      },
      {
        url: require("..\\src\\assets\\SentinalConsultingLogo.png"),
      },
      {
        url: require("..\\src\\assets\\NationalHealtLogo.png"),
      },
      {
        url: require("..\\src\\assets\\ForSaleLogo.png"),
      },
      {
        url: require("..\\src\\assets\\DelMarStrategyLogo.png"),
      },
    ]);

    return { companyIcons };
  },
};
</script>

<style lang="scss" scoped>
.company-logos {
  margin-bottom: 180px;
  display: flex;
  justify-content: center;
  &__content {
    display: flex;
    max-width: 1230px;
    justify-content: space-between;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
}
</style>
