<template>
  <div class="fashion-blog">
    <div class="fashion-blog__content">
      <div class="fashion-blog__header">
        <div class="fashion-blog__title"><strong>Fashion blog</strong></div>
        <button class="fashion-blog__button">View blog</button>
      </div>
      <div class="fashion-blog__cards">
        <div v-for="fashionCard in fashionCards" :key="fashionCard" class="fashion-blog__card">
          <img :src="fashionCard.url" alt="" />
          <div class="fashion-blog__card-content">
            <div class="fashion-blog__card-title">
              <strong>{{ fashionCard.title }}</strong>
            </div>
            <div class="fashion-blog__card-subtitle">
              <div class="fashion-blog__card-categories">{{ fashionCard.categories }}</div>
              <div class="fashion-blog__card-data">{{ fashionCard.date }}</div>
              <div class="fashion-blog__card-comments">{{ fashionCard.comments }}</div>
            </div>
            <div class="fashion-blog__card-text">{{ fashionCard.content }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  components: {},
  setup() {
    const fashionCards = ref([
      {
        title: "Bag Trends for Summer 2020",
        categories: "Fashion",
        date: "August 24, 2020",
        comments: "No comments",
        content:
          "Ipsum aliquet nisi, hendrerit rhoncus quam tortor, maecenas faucibus. Tincidunt aliquet sit vel, venenatis nulla. Integer bibendum turpis convallis...",
        url: require("..\\src\\assets\\bag-trends.png"),
      },
      {
        title: "Top 10 of This Season’s Hottest Sneakers",
        categories: "Lifestyle",
        date: "July 16, 2020",
        comments: "4 comments",
        content:
          "Porta habitant vitae quam interdum. Leo viverra non volutpat rhoncus placerat vitae scelerisque. Rhoncus augue faucibus maecenas lacus...",
        url: require("..\\src\\assets\\top-10.png"),
      },
    ]);

    return { fashionCards };
  },
};
</script>

<style lang="scss" scoped>
.fashion-blog {
  width: 100%;
  display: grid;
  justify-items: center;
  &__content {
    max-width: 1230px;
    margin-left: 15px;
    margin-right: 15px;
  }
  &__button {
    background: inherit;
    border: 1px solid $button-color;
    border-radius: 4px;
    color: $button-color;
    max-width: 130px;
    width: 100%;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    font-size: 46px;
  }
  &__cards {
    display: flex;
    gap: 30px;
    margin-bottom: 180px;
  }
  &__card {
    margin-top: 60px;
    background: #ffffff;
    box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.3);
    border-radius: 4px;
    img {
      width: 100%;
    }
    &-content {
      padding: 24px;
    }
    &-title {
      font-size: 20px;
    }
    &-subtitle {
      color: #787a80;
      display: flex;
      padding-bottom: 16px;
      padding-top: 12px;
    }
    &-categories {
      padding-right: 12px;
      border-right: 1px solid $border-color;
    }
    &-data {
      padding-right: 12px;
      padding-left: 12px;
      border-right: 1px solid $border-color;
    }
    &-comments {
      padding-left: 12px;
    }
  }
}
</style>
