<template>
  <div class="footer-bottom">
    <div class="footer-bottom__content">
      <div class="footer-bottom__created">© All rights reserved. Made with</div>
      <span>Go to top</span>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.footer-bottom {
  display: flex;
  justify-content: center;
  padding-top: 20px;
  padding-bottom: 28px;
  span {
    color: white;
  }
  &__content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1230px;
    margin-left: 15px;
    margin-right: 15px;
  }
  &__created {
    color: white;
  }
}
</style>
