<template>
  <div class="footer">
    <div class="footer-top">
      <div class="footer-top__cards">
        <div v-for="cloCard in cloCards" :key="cloCard" class="footer-top__card">
          <div class="footer-top__label">
            {{ cloCard.label }}
          </div>

          <div v-for="subtitle in cloCard.subtitles" :key="subtitle" class="footer-top__subtitle">
            {{ subtitle.subtitle }}
          </div>

          <div class="footer-top__phone">
            {{ cloCard.phone }}
          </div>
          <div class="footer-top__email">
            {{ cloCard.email }}
          </div>
          <div class="footer-top__imgs">
            <div v-for="url in cloCard.urls" :key="url" class="footer-top__img">
              <img :src="url.url" alt="" srcset="" />
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer-bottom />
  </div>
</template>

<script>
import { ref } from "vue";
import FooterBottom from "./FooterBottom.vue";
export default {
  components: { FooterBottom },
  setup() {
    const cloCards = ref([
      {
        label: "HELP",
        subtitles: [
          { subtitle: "Delivery & returns" },
          { subtitle: "FAQ" },
          { subtitle: "Track order" },
          { subtitle: "Contacts" },
          { subtitle: "Blog" },
        ],
      },
      {
        label: "SHOP",
        subtitles: [
          { subtitle: "New arrivals" },
          { subtitle: "Trending now" },
          { subtitle: "Sales" },
          { subtitle: "Brands" },
        ],
      },
      {
        label: "GET IN TOUCH",
        phone: "Call: (405) 555-0128",
        email: "Email: hello@createx.com",
        urls: [
          {
            url: require("..\\src\\assets\\small-facebook(2).png"),
          },
          { url: require("..\\src\\assets\\small-instagram.png") },
          { url: require("..\\src\\assets\\small-twitter.png") },
          { url: require("..\\src\\assets\\small-youtube.png") },
          { url: require("..\\src\\assets\\small-pinterest.png") },
        ],
      },
      {
        label: "DOWNOALD OUR APP",
        urls: [
          { url: require("..\\src\\assets\\app-store.png") },
          { url: require("..\\src\\assets\\google-play.png") },
        ],
      },
    ]);

    return { cloCards };
  },
};
</script>

<style lang="scss" scoped>
.footer {
  background: #1e212c;
}
.footer-top {
  border-bottom: 1px solid #ffffff;
  display: flex;
  justify-content: center;
  &__cards {
    max-width: 1230px;
    margin-left: 15px;
    margin-right: 15px;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    display: flex;
    color: white;
    justify-content: space-between;
  }
  &__card {
    display: block;
  }
  &__imgs {
    display: flex;
    gap: 15px;
    margin-top: 24px;
  }
  &__subtitle {
    color: #ffffff;
    font-size: 16px;
    opacity: 0.6;
    margin-top: 4px;
  }
  &__label {
    margin-bottom: 8px;
  }
  &__phone {
    margin-top: 4px;
    margin-bottom: 4px;
  }
}
</style>
