<template>
  <div class="gender-cards">
    <div class="gender-card" v-for="card in cards" :key="card">
      <img :src="card.url" alt="" srcset="" />
      <div>{{ card.name }}</div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";

export default {
  components: {},
  setup() {
    console.log(123);
    const cards = ref([
      {
        url: require("..\\src\\assets\\women.png"),
        name: "Women's",
      },
      { url: require("..\\src\\assets\\men.png"), name: "Men's" },
      { url: require("..\\src\\assets\\kids.png"), name: "Kids'" },
    ]);

    return { cards };
  },
};
</script>

<style lang="scss" scoped>
.gender {
  &-cards {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: -60px;
    margin-bottom: 180px;
  }
  &-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    align-items: center;
    img {
      margin-bottom: 10px;
      width: 100%;
    }
  }
  &-card:last-of-type {
    margin-right: 30px;
  }
}
</style>
