<template>
  <div class="information-cards__offers">
    <div class="information-cards__content" style="max-width: 300px">
      <div class="information-cards__title">New collection</div>
      <div class="information-cards__subtitle">
        <strong> Shoes & Bags autumn / winter 2020 </strong>
      </div>
      <button class="information-cards__button">See offers</button>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.information-cards {
  &__offers {
    background: url(..\\src\\assets\\shoes&bags.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    height: 500px;
    grid-column: 1/4;
  }

  &__subtitle {
    margin-top: 12px;
    font-size: 32px;
    margin-bottom: 40px;
  }
  &__content {
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
    z-index: 3;
  }
  &__button {
    background: inherit;
    border: 1px solid $button-color;
    border-radius: 4px;
    color: $button-color;
    padding-left: 32px;
    padding-right: 32px;
    height: 44px;
  }
}
</style>
