<template>
  <div class="information-cards__email">
    <img src="../assets/men_and_box.png" alt="" srcset="" />
    <div class="information-cards__content" style="max-width: 391px">
      <div class="information-cards__title">For All new Email Subscribers</div>
      <div class="information-cards__subtitle">
        <strong> Get 5% Off & Free Delivery </strong>
      </div>
      <div class="information-cards__input-email">
        <span>Email</span>
        <div class="information-cards__input">
          <input type="text" placeholder="Your working email" />
          <button class="information-cards__input-buuton">Subscribe</button>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.information-cards {
  width: 100%;
  margin-top: 180px;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

  &__email {
    position: relative;
    background: url(..\\src\\assets\\backGround.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    grid-column: 4/6;
    img {
      height: auto;
      max-width: 439px;
      width: 100%;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  &__subtitle {
    margin-top: 12px;
    font-size: 32px;
    margin-bottom: 40px;
  }
  &__content {
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
    z-index: 3;
  }
  &__button {
    background: inherit;
    border: 1px solid $button-color;
    border-radius: 4px;
    color: $button-color;
    padding-left: 32px;
    padding-right: 32px;
    height: 44px;
  }

  &__input {
    margin-top: 8px;
    height: 52px;
    max-width: 360px;
    width: 100%;
    display: flex;
    margin-bottom: 24px;

    input {
      padding-left: 15px;
      border: 0px;
      width: 100%;
    }
    button {
      height: 100%;
      padding-left: 32px;
      padding-right: 32px;
      background: $button-color;
      color: white;
      border-radius: 0px 4px 4px 0px;
      border: 0px;
    }
  }
}
</style>
