<template>
  <div class="information-cards__new-price">
    <div class="information-cards__content" style="max-width: 300px">
      <div class="information-cards__title">Summer Collections</div>
      <div class="information-cards__subtitle"><strong> Sale Up to 70% </strong></div>
      <button class="information-cards__button">Explore new prices</button>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";

export default {
  components: {},
  setup() {},
};
</script>

<style lang="scss" scoped>
.information-cards {
  &__new-price {
    background: url(..\\src\\assets\\summerCollection.png);
    width: 100%;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    grid-column: 1/3;
    height: 500px;
  }

  &__subtitle {
    margin-top: 12px;
    font-size: 32px;
    margin-bottom: 40px;
  }
  &__content {
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
    z-index: 3;
  }
  &__button {
    background: inherit;
    border: 1px solid $button-color;
    border-radius: 4px;
    color: $button-color;
    padding-left: 32px;
    padding-right: 32px;
    height: 44px;
  }
}
</style>
