<template>
  <div style="margin-left: 30px; margin-right: 30px">
    <div class="information-cards">
      <information-card-new-price />
      <information-card-limited-time />
      <information-card-offers />
      <information-card-email />
    </div>
  </div>
</template>

<script>
import informationCardNewPrice from "./informationCardNewPrice.vue";
import informationCardLimitedTime from "./informationCardLimitedTime.vue";
import informationCardOffers from "./informationCardOffers.vue";
import informationCardEmail from "./informationCardEmail.vue";
export default {
  components: {
    informationCardNewPrice,
    informationCardLimitedTime,
    informationCardOffers,
    informationCardEmail,
  },
  setup() {},
};
</script>

<style lang="scss" scoped>
.information-cards {
  width: 100%;
  margin-top: 180px;
  display: grid;
  gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
</style>
