<template>
  <div class="information-cards__limited-time">
    <div class="information-cards__content" style="max-width: 362px">
      <div class="information-cards__title">Deal of the week</div>
      <div class="information-cards__subtitle">
        <strong> Stay Warm With Our New Sweaters </strong>
      </div>
      <button class="information-cards__button">Shop now</button>
      <div class="information-cards__timer">
        <span>LIMITED TIME OFFER</span>
        <div class="information-cards__time">
          <div>
            <div class="information-cards__digit">06</div>
            <div>Days</div>
          </div>
          <div>
            <div class="information-cards__digit">18</div>
            <div>Hours</div>
          </div>
          <div>
            <div class="information-cards__digit">24</div>
            <div>Mins</div>
          </div>
          <div>
            <div class="information-cards__digit">12</div>
            <div>Sec</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.information-cards {

  &__limited-time {
    background: url(..\\src\\assets\\limitedTime.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    grid-column: 3/6;
    width: 100%;
  }

  &__subtitle {
    margin-top: 12px;
    font-size: 32px;
     margin-bottom: 40px;
  }
  &__content {
    padding-left: 60px;
    padding-top: 60px;
    position: relative;
    z-index: 3;
  }
  &__button {
    background: inherit;
    border: 1px solid $button-color;
    border-radius: 4px;
    color: $button-color;
    padding-left: 32px;
    padding-right: 32px;
    height: 44px;
  }
  &__timer {
    margin-top: 80px;
    span {
      color: #1e212c;
      font-size: 14px;
    }
  }
  &__time {
    display: flex;
    gap: 26px;
    margin-top: 12px;
  }
  &__digit {
    font-size: 28px;
    margin-bottom: 8px;
  }
}
</style>
