<template>
  <div class="instagramm-banner">
    <div class="instagramm-banner__content">
      <div class="instagramm-banner__titles">
        <div class="instagramm-banner__title"><strong>Follow us on Instagram</strong></div>
        <div class="instagramm-banner__subtitle"><strong>@createx_store</strong></div>
        <button class="instagramm-banner__button">
          <img src="../assets/inst-icon.png" alt="" srcset="" />
          <div>Follow instagram</div>
        </button>
      </div>
      <div class="instagramm-banner__cards">
        <div
          v-for="instagrammCard in instagrammCards"
          :key="instagrammCard"
          class="instagramm-banner__card"
        >
          <img :src="instagrammCard.url" alt="" srcset="" />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  components: {},
  setup() {
    const instagrammCards = ref([
      {
        url: require("..\\src\\assets\\afromen.png"),
      },
      {
        url: require("..\\src\\assets\\inst-shoes.png"),
      },
      {
        url: require("..\\src\\assets\\inst-children.png"),
      },
    ]);

    return { instagrammCards };
  },
};
</script>

<style lang="scss" scoped>
.instagramm-banner {
  margin-top: 180px;
  margin-bottom: 180px;
  display: flex;
  justify-content: center;
  &__content {
    display: flex;
    max-width: 1230px;
    justify-content: space-between;
    width: 100%;
    margin-left: 15px;
    margin-right: 15px;
  }
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
  }
  &__title {
    font-size: 16px;
  }
  &__subtitle {
    margin-top: 8px;
    font-size: 46px;
  }
  &__button {
    margin-top: 60px;
    background: inherit;
    border: 1px solid $button-color;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 52px;
    color: $button-color;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    img {
      margin-right: 10px;
    }
  }
  &__card {
    img {
      width: 100%;
    }
  }
}
</style>
