<template>
  <div class="page-banner">
    <div class="page-banner__content">
      <div class="page-banner__titles">
        <div class="page-banner__small-title">NEW COLLECTION</div>
        <div class="page-banner__big-title">
          <strong>Menswear 2020</strong>
        </div>
      </div>
      <div class="page-banner__battons">
        <button class="page-banner__sale-btn">Shop sale</button>
        <button class="page-banner__shop-btn">Shop the menswear</button>
      </div>
      <div class="page-banner__paginator">
        <div v-for="item in items" :key="item" class="page-banner__paginator-item">
          {{ item.label }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  components: {},
  setup() {
    const items = ref([{ label: "01" }, { label: "02" }, { label: "03" }, { label: "04" }]);

    return { items };
  },
};
</script>

<style scoped lang="scss">
.page-banner {
  background: url(..\\src\\assets\\banner.png);
  width: 100%;
  height: 800px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    margin-left: 15px;
    max-width: 1230px;
    width: 100%;
  }
  &__small-title {
    font-size: 18px;
    margin-bottom: 12px;
  }
  &__big-title {
    font-size: 72px;
    margin-bottom: 60px;
  }
  &__sale-btn {
    max-width: 152px;
    width: 100%;
    height: 52px;
    background-color: inherit;
    border: 1px solid $button-color;
    border-radius: 4px;
    color: $button-color;
    margin-right: 24px;
  }
  &__shop-btn {
    max-width: 229px;
    width: 100%;
    height: 52px;
    background: $button-color;
    border: 1px solid $button-color;
    border-radius: 4px;
    color: white;
    margin-bottom: 181px;
  }

  &__paginator {
    display: flex;
    width: 60%;
    &-item {
      max-width: 178px;
      width: 100%;
      border-bottom: 2px solid #424551;
      margin-right: 4px;
      height: 42px;
      font-size: 28px;
    }
  }
}
</style>
