<template>
  <div class="sale-cards">
    <div class="sale-cards__content">
      <div class="sale-cards__header">
        <div class="sale-cards__title"><strong>Sale up to 70%</strong></div>
        <div class="sale-cards__poginators">
          <div class="sale-cards__stroke">
            <svg
              width="18"
              height="12"
              viewBox="0 0 18 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.20711 11.2071C5.81658 11.5976 5.18342 11.5976 4.79289 11.2071L0.292892 6.70711C-0.0976315 6.31658 -0.0976315 5.68342 0.292892 5.29289L4.79289 0.792893C5.18342 0.402369 5.81658 0.402369 6.20711 0.792893C6.59763 1.18342 6.59763 1.81658 6.20711 2.20711L3.41421 5L17 5C17.5523 5 18 5.44772 18 6C18 6.55228 17.5523 7 17 7L3.41421 7L6.20711 9.79289C6.59763 10.1834 6.59763 10.8166 6.20711 11.2071Z"
              />
            </svg>
          </div>
          <div class="sale-cards__stroke">
            <svg
              width="18"
              height="12"
              viewBox="0 0 18 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.7929 0.792893C12.1834 0.402369 12.8166 0.402369 13.2071 0.792893L17.7071 5.29289C18.0976 5.68342 18.0976 6.31658 17.7071 6.70711L13.2071 11.2071C12.8166 11.5976 12.1834 11.5976 11.7929 11.2071C11.4024 10.8166 11.4024 10.1834 11.7929 9.79289L14.5858 7H1C0.447715 7 0 6.55228 0 6C0 5.44772 0.447715 5 1 5H14.5858L11.7929 2.20711C11.4024 1.81658 11.4024 1.18342 11.7929 0.792893Z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="sale-cards__items">
        <div v-for="saleCard in saleCards" :key="saleCard" class="sale-cards__item">
          <div class="sale-card__img">
            <img :src="saleCard.url" alt="" srcset="" />
            <div class="sale-card__stars">
              <div v-if="saleCard.stars === true" style="display: flex; width: 10px">
                <img v-for="length in 5" :key="length" src="../assets/Star.png" alt="" srcset="" />
              </div>
            </div>
            <div class="sale-card__sale">-{{ saleCard.sail }}%</div>
            <div class="sale-card__like">
              <img class="sale-card__like-img" src="../assets/Heart-icon.png" alt="" srcset="" />
            </div>
          </div>

          <div class="sale-cards__item-subtitles">
            <div class="sale-cards__item-label">{{ saleCard.label }}</div>
            <div class="sale-cards__item-salePrice">${{ saleCard.saleCost }}</div>
            <div class="sale-cards__item-price">${{ saleCard.cost }}</div>
          </div>
        </div>
      </div>
      <button class="sale-cards__button">See all sale products</button>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  components: {},
  setup() {
    const saleCards = ref([
      {
        label: "Leather crossbody bag with gold hardware",
        stars: true,
        cost: 179.0,
        saleCost: 89.5,
        get sail() {
          return 100 - (this.saleCost * 100) / this.cost;
        },
        // url: require("C:\\Users\\User\\Desktop\\vue_figma\\src\\assets\\bag.png"),
        url: require("..\\src\\assets\\bag.png"),
      },
      {
        label: "Chrono watch with blue leather belt",
        stars: true,
        cost: 80.0,
        saleCost: 40.0,
        get sail() {
          return 100 - (this.saleCost * 100) / this.cost;
        },
        url: require("..\\src\\assets\\womenJeans.png"),
      },
      {
        label: "Check coat with colour contrast",
        stars: false,
        cost: 148.95,
        saleCost: 119.16,
        get sail() {
          return 100 - (this.saleCost * 100) / this.cost;
        },
        url: require("..\\src\\assets\\boots.png"),
      },
    ]);

    return { saleCards };
  },
};
</script>

<style lang="scss" scoped>
.sale-cards {
  margin-bottom: 150px;
  display: grid;
  width: 100%;
  justify-items: center;
  &__content{
    margin-left: 15px;
    margin-right: 15px;
    display: grid;
    justify-items: center;
  }
  &__header {
    display: flex;
    max-width: 1230px;
    margin-left: 15px;
    margin-right: 15px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 80px;
  }
  &__title {
    font-size: 46px;
  }
  &__items {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 96px;
  }
  &__button {
    padding-left: 40px;
    padding-right: 40px;
    height: 52px;
    background-color: inherit;
    border: 1px solid $button-color;
    border-radius: 4px;
    color: $button-color;
    font-size: 16px;
  }
  &__poginators {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
  }
  &__stroke {
    width: 48px;
    height: 48px;
    align-items: center;
    display: grid;
    justify-items: center;
    svg {
      fill: black;
    }
    &:hover {
      background: $button-color;
      border-radius: 25px;
      cursor: pointer;
      svg {
        fill: white;
      }
    }
  }
  &__item {
    img {
      width: 100%;
      height: auto;
    }
    &-subtitles {
      margin-left: 16px;
      margin-top: 16px;
      display: grid;
      grid-template-areas:
        "A A A A  A A A A  A A A A  A A A A"
        "B C 0 0  0 0 0 0  0 0 0 0  0 0 0 0";
    }
    &-label {
      margin-bottom: 8px;
      grid-area: A;
    }
    &-salePrice {
      grid-area: B;
      color: #ff4242;
    }
    &-price {
      grid-area: C;
      text-decoration-line: line-through;
      color: #787a80;
    }
  }
}
.sale-card {
  &__img {
    position: relative;
  }
  &__like {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    &-img {
      width: auto !important;
    }
  }
  &__sale {
    position: absolute;
    top: 16px;
    left: 16px;
    background: #ff4242;
    border-radius: 4px;
    color: white;
    padding: 4px 8px;
  }
  &__stars {
    top: 16px;
    right: 62px;
    position: absolute;
  }
}
</style>
