<template>
  <div class="services-items">
    <div class="services-items__content">
      <div v-for="servicesItem in servicesItems" :key="servicesItem" class="services-item">
        <img :src="servicesItem.url" alt="" srcset="" />
        <div class="services-item__title">
          <strong>{{ servicesItem.title }}</strong>
        </div>
        <div class="services-item__subtitle">{{ servicesItem.subtitle }}</div>
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  components: {},
  setup() {
    const servicesItems = ref([
      {
        title: "Fast Worldwide Shipping",
        subtitle: "Get free shipping over $250",
        url: require("..\\src\\assets\\auto.png"),
      },
      {
        title: "24/7 Customer Support",
        subtitle: "Friendly 24/7 customer support",
        url: require("..\\src\\assets\\support.png"),
      },
      {
        title: "Money Back Guarantee",
        subtitle: "We return money within 30 days",
        url: require("..\\src\\assets\\ic-shield.png"),
      },
      {
        title: "Secure Online Payment",
        subtitle: "Accept all major credit cards",
        url: require("..\\src\\assets\\credit-card.png"),
      },
    ]);

    return { servicesItems };
  },
};
</script>

<style lang="scss" scoped>
.services-items {
  margin-top: 180px;
  display: flex;
  justify-content: center;
  &__content {
    max-width: 1230px;
    width: 100%;
    margin-right: 15px;
    display: flex;
    margin-left: 15px;
    justify-content: space-between;
  }
}
.services-item {
  display: grid;
  justify-items: center;
  align-items: center;
  border-right: 1px solid $border-color;
  row-gap: 8px;
  padding-right: 70px;
  &:last-of-type {
    border-right: none;
    padding-right: 0;
  }
  &:first-of-type {
    padding-left: 0;
  }
  &__title {
    margin-top: 24px;
    font-size: 20px;
  }
}
</style>
