<template>
  <div class="subscribe-user">
    <div class="subscribe-user__content">
      <div class="subscribe-user__tool-bars">
        <div class="subscribe-user__title"><strong>Subscribe for updates</strong></div>
        <div class="subscribe-user__subtitle">
          Subscribe for exclusive early sale access and new arrivals.
        </div>
        <div class="subscribe-user__gender-buttons">
          <button
            v-for="GenderItem in GenderItems"
            :key="GenderItem"
            class="subscribe-user__gender-button"
          >
            {{ GenderItem.label }}
          </button>
        </div>
        <div class="subscribe-user__input-email">
          <span>Email</span>
          <div class="subscribe-user__input">
            <input type="text" placeholder="Your working email" />
            <button class="subscribe-user__input-buuton">Subscribe</button>
          </div>
          <div class="subscribe-user__checkBox">
            <!-- <div class="checkBox"></div>
              <div class="subscribe-user__checkBox-title">I agree to receive communications from Createx Store.</div> -->
            <input
              type="checkbox"
              id="subscribeNews"
              name="subscribe"
              value="newsletter"
              color="red"
            />
            <label for="subscribeNews">I agree to receive communications from Createx Store.</label>
          </div>
        </div>
      </div>
      <div class="subscribe-user__img">
        <img src="../assets/subscribeMen.png" alt="" srcset="" />
      </div>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  components: {},
  setup() {
    const GenderItems = ref([
      {
        label: "Women",
      },
      {
        label: "Men",
      },
      {
        label: "Girls",
      },
      {
        label: "Boys",
      },
    ]);

    return { GenderItems };
  },
};
</script>

<style lang="scss" scoped>
.subscribe-user {
  background-color: #f4f5f6;
  display: flex;
  justify-content: center;
  &__content {
    max-width: 1230px;
    width: 100%;
    padding-top: 65px;
    padding-bottom: 65px;
    margin-left: 15px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
  }

  &__tool-bars {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__title {
    font-size: 46px;
    margin-bottom: 24px;
  }
  &__subtitle {
    font-size: 20px;
    color: #787a80;
    margin-bottom: 32px;
  }
  &__gender-buttons {
    display: flex;
    gap: 12px;
    margin-bottom: 32px;
  }
  &__gender-button {
    max-width: 62px;
    width: 100%;
    height: 32px;
    background-color: inherit;
    border: 1px solid $border-color;
    border-radius: 4px;
    color: #787a80;
    &:hover {
      background: $button-color;
      color: white;
    }
    &__checkBox {
      margin-top: 8px;
    }
  }
  &__input {
    margin-top: 8px;
    height: 52px;
    width: 100%;
    display: flex;
    margin-bottom: 24px;
    input{
      padding-left: 15px;
      border: 0px;
      width: 100%;
    }
    button{
    height: 100%;
    max-width: 154px;
    width: 100%;
    background: $button-color;
    color: white;
    border-radius: 0px 4px 4px 0px;
    border: 0px;
    }
  }

}

</style>
