<template>
  <div class="top-menu">
    <div class="top-menu__content">
      <div class="top-menu__number"><a>Available 24/7 at (405) 555-0128</a></div>
      <div class="top-menu__navigation">
        <a>Delivery & returns</a>
        <a>Track order</a>
        <a>Blog</a>
        <a>Contacts</a>
      </div>
      <div style="display: flex; align-items: baseline">
        <div class="top-menu__language">
          <img src="../assets/flag-usa.png" alt="" />
          <a>Eng / $</a>
        </div>
        <div class="top-menu__register">
          <img src="../assets/Profile.png" alt="" />
          <a>Log in / Register</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
.top-menu {
  background-color: #1e212c;
  &__content {
    display: flex;
    align-items: center;
    max-width: 1230px;
    width: 100%;
    height: 44px;
    margin: 0 auto;
    justify-content: space-between;
  }
  &__number {
    color: white;
    font-size: 14px;
    opacity: 0.6;
    padding-left: 15px;
  }
  &__navigation {
    color: white;
    font-size: 14px;
    opacity: 0.6;
    a {
      padding-right: 32px;
    }
    a:last-of-type{
      padding-right: 0;
    }
  }
  &__language {
    color: white;
    font-size: 14px;
    padding-right: 85px;
    a {
      padding-left: 10px;
      opacity: 0.6;
    }
    img {
      width: 20px;
      height: 10.8px;
    }
  }
  &__register {
    color: white;
    font-size: 14px;
    opacity: 0.6;
    padding-right: 15px;
    img {
      padding-right: 10px;
      width: 13px;
      height: 14px;
    }
  }
}
</style>
