<template>
  <div class="trend-cards">
    <div class="trend-cards__content">
      <div class="trend-cards__header">
        <div class="trend-cards__title"><strong>Trending now</strong></div>
        <div class="trend-cards__poginators">
          <div class="trend-cards__stroke">
            <svg
              width="18"
              height="12"
              viewBox="0 0 18 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M6.20711 11.2071C5.81658 11.5976 5.18342 11.5976 4.79289 11.2071L0.292892 6.70711C-0.0976315 6.31658 -0.0976315 5.68342 0.292892 5.29289L4.79289 0.792893C5.18342 0.402369 5.81658 0.402369 6.20711 0.792893C6.59763 1.18342 6.59763 1.81658 6.20711 2.20711L3.41421 5L17 5C17.5523 5 18 5.44772 18 6C18 6.55228 17.5523 7 17 7L3.41421 7L6.20711 9.79289C6.59763 10.1834 6.59763 10.8166 6.20711 11.2071Z"
              />
            </svg>
          </div>
          <div class="trend-cards__stroke">
            <svg
              width="18"
              height="12"
              viewBox="0 0 18 12"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                fill-rule="evenodd"
                clip-rule="evenodd"
                d="M11.7929 0.792893C12.1834 0.402369 12.8166 0.402369 13.2071 0.792893L17.7071 5.29289C18.0976 5.68342 18.0976 6.31658 17.7071 6.70711L13.2071 11.2071C12.8166 11.5976 12.1834 11.5976 11.7929 11.2071C11.4024 10.8166 11.4024 10.1834 11.7929 9.79289L14.5858 7H1C0.447715 7 0 6.55228 0 6C0 5.44772 0.447715 5 1 5H14.5858L11.7929 2.20711C11.4024 1.81658 11.4024 1.18342 11.7929 0.792893Z"
              />
            </svg>
          </div>
        </div>
      </div>
      <div class="trend-cards__items">
        <div v-for="trendCard in TrendCards" :key="trendCard" class="trend-card__item">
          <div class="trend-card__img">
            <img :src="trendCard.url" alt="" srcset="" />
            <div class="trend-card__like">
              <img class="trend-card__like-img" src="../assets/Heart-icon.png" alt="" srcset="" />
            </div>
          </div>
          <div class="trend-cards__item-subtitles">
            <div class="trend-cards__item-label">{{ trendCard.label }}</div>
            <div class="trend-cards__item-price">{{ trendCard.cost }}</div>
          </div>
        </div>
      </div>
      <button class="trend-cards__button">Explore top sales</button>
    </div>
  </div>
</template>

<script>
import { ref } from "vue";
export default {
  components: {},
  setup() {
    const TrendCards = ref([
      {
        label: "Shirt with insertion lace trims",
        cost: "$49.95",
        url: require("..\\src\\assets\\shirt.png"),
      },
      {
        label: "Chrono watch with blue leather belt",
        cost: "$120.60",
        url: require("..\\src\\assets\\watch.png"),
      },
      {
        label: "Check coat with colour contrast",
        cost: "$183.45",
        url: require("..\\src\\assets\\coatColor.png"),
      },
    ]);

    return { TrendCards };
  },
};
</script>

<style lang="scss" scoped>
.trend-cards {
  background-color: #e5e8ed;
  display: grid;
  width: 100%;
  justify-items: center;
  &__content {
    margin-left: 15px;
    margin-right: 15px;
    justify-items: center;
    display: grid;
  }
  &__header {
    display: flex;
    max-width: 1230px;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-bottom: 60px;
    margin-top: 80px;
  }
  &__title {
    font-size: 46px;
  }
  &__items {
    display: grid;
    justify-items: center;
    align-items: center;
    gap: 30px;
    grid-template-columns: 1fr 1fr 1fr;
    margin-bottom: 96px;
  }
  &__button {
    padding-left: 40px;
    padding-right: 40px;
    height: 52px;
    background-color: inherit;
    border: 1px solid $button-color;
    border-radius: 4px;
    color: $button-color;
    margin-right: 24px;
    font-size: 16px;
    margin-bottom: 80px;
  }
  &__poginators {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    align-items: center;
  }
  &__stroke {
    width: 48px;
    height: 48px;
    align-items: center;
    display: grid;
    justify-items: center;
    svg {
      fill: black;
    }
    &:hover {
      background: $button-color;
      border-radius: 25px;
      cursor: pointer;
      svg {
        fill: white;
      }
    }
  }
  &__item {
    &-subtitles {
      margin-left: 16px;
      margin-top: 16px;
    }
    &-label {
      margin-bottom: 8px;
    }
  }
}
.trend-card {
  &__img {
    position: relative;
    img {
      width: 100%;
      height: auto;
    }
  }
  &__like {
    position: absolute;
    bottom: 16px;
    right: 16px;
    width: 25px;
    height: 25px;
    background: white;
    border-radius: 16px;
    align-items: center;
    justify-content: center;
    display: flex;
    &-img {
      width: auto !important;
    }
  }
}
</style>
