<template>
<div class="header-menu">
  <top-menu />
  <bottom-menu />
</div>
  <page-banner />
  <gender-cards />
  <clothes-card />
  <information-cards />
  <categories-cards />
  <trend-cards />
  <sale-cards />
  <application-banner />
  <services />
  <instagram-banner />
  <fashion-blog />
  <company-logos />
  <subscribe-user />
  <footer-top />
</template>

<script>
import TopMenu from "./components/TopMenu.vue";
import BottomMenu from "./components/BottomMenu.vue";
import PageBanner from "./components/PageBanner.vue";
import GenderCards from "./components/GenderCards.vue";
import ClothesCard from "./components/ClothesCard.vue";
import InformationCards from "./components/InformationCard.vue";
import CategoriesCards from "./components/CategoriesCards.vue";
import TrendCards from "./components/TrendCards.vue";
import SaleCards from "./components/SaleCards.vue";
import ApplicationBanner from "./components/ApplicationBanner.vue";
import Services from "./components/Services.vue";
import InstagramBanner from "./components/InstagramBanner.vue";
import FashionBlog from "./components/FashionBlog.vue";
import CompanyLogos from "./components/CompanyLogos.vue";
import SubscribeUser from "./components/SubscribeUser.vue";
import FooterTop from "./components/FooterTop.vue";


export default {
  components: {
    TopMenu,
    BottomMenu,
    PageBanner,
    GenderCards,
    ClothesCard,
    InformationCards,
    CategoriesCards,
    TrendCards,
    SaleCards,
    ApplicationBanner,
    Services,
    InstagramBanner,
    FashionBlog,
    CompanyLogos,
    SubscribeUser,
    FooterTop
  },
};
</script>

<style lang="scss"></style>
